html {
    font-size: 18px
}

body {
    background-color: #9df372;
    color: #ed50a1;
}

a {
    color: rgb(151, 111, 131);
}

a:visited {
    color: rgb(143, 115, 236);
}

a:hover, a:active {
    color: #c67190;
}
