html {
    font-size: 18px
}

body {
    background-color: #9df372;
    color: #ed50a1;
}

a {
    color: rgb(151, 111, 131);
}

a:visited {
    color: rgb(143, 115, 236);
}

a:hover, a:active {
    color: #c67190;
}

table, tr, th, td, caption {
    text-align: center;
    color: #9e50ed;
    border: 3px solid #ff9651;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    padding: 1.5rem; 
}
